---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main class="bg-neutral-950 font-sans selection:bg-blue-500/30 selection:text-white pb-0">
		<Hero />
		<Services />
	</main>
	<Footer />
</Layout>
